@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    
    background-image: url("flower_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
   
}

#card {
    width: 40vh;
    height: 400px;
    margin: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid #ffffffd1;
    border-radius: 10%;
    box-shadow: 20px 20px 30px #000000;
    backdrop-filter: blur(3px);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;
    padding: 25px;
}

.text-field {
    padding: 11px;
    margin: 16px  auto 12px;
    font-size: 1.3rem;
    border: none;
    border-radius: 15px;

    width: 100%;
    height: 45px;
}

#content input:focus {
    outline: none;
}

#content h1 {
    margin-bottom: 18px;
    color: #d3d3d3;
    text-shadow: 3px 3px 5px #2f4f4f;
    text-decoration: underline;
    font-size: 2.2rem;
}

.form-input {
    height: 20%;
    width: 98%;
}

.form-checkbox {
    margin: 15px auto;
}

.form-checkbox label {
    font-weight: 600;
}

.form-input button {
    background: none;
    border: 1px solid black;
    border-radius: 9px;
    padding: 8px;
    width: 90%;
    font-size: 1.2rem;
    background: #ffffff3f;
}

.form-input button:hover {
    background: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

@media(max-width:800px) {
    #container #card {
        width: 60vw;
    }
}

@media(max-width:600px) {
    #container #card {
        width: 90vw;
    }
}

@media(max-width: 400px) {
    #container #card {
        width: 95vw;
    }
}